// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  position: fixed;
  width: 100%;
}

.navbar {
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
  }

  background: $dark-grey;
  color: $light-grey;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
  &__logo {
    font-weight: 600;
    margin-left: 50px;
    cursor: pointer;
    img {
      height: 21px;
    }
    &:hover {
      text-shadow: 0px 0px 4px #ffffff69;
    }
  }
  &__nav {
    &__item {
      cursor: pointer;
      text-decoration: none;
      list-style: none;
      margin: 0 20px;
      &:hover {
        text-shadow: 0px 0px 4px #ffffff69;
      }
      a {
        color: $light-grey;
        &:hover {
          color: $light-grey;
        }
      }
    }
  }
  a {
    color: $light-grey;
    &:hover {
      text-shadow: 0px 0px 4px #ffffff69;
    }
  }
}
