/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Green color
/// @type Color
$light-green: #f4ffe8 !default;
$mid-green: rgb(147, 182, 107) !default;
$dark-green: rgb(44, 71, 12) !default;

/// Red color
/// @type Color
$light-red: rgb(255, 248, 248) !default;
$mid-red: rgb(255, 145, 145) !default;
$dark-red: rgb(109, 36, 36) !default;
